
<!-- CSS -->
  <!-- CDN -->
  <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- //CDN -->

  <!-- plugins -->
  <!-- //plugins -->

  <!-- assets -->
  <link href="assets/css/style.css" rel="stylesheet" type="text/css"  />
  <!-- //assets -->

  <!-- Hot fixes -->
  <style>

  </style>
  <!-- Hot fixes -->
<!-- /CSS -->
